.DS_Store
Hardware/precond/~precond.kicad_sch.lck
Hardware/precond/\#auto_saved_files\#
Hardware/precondV2/opamp2.op.raw
Hardware/precondV2/opamp2.raw
Hardware/precondV2/opamp2.op.raw
Hardware/precondV2/opamp.raw
Hardware/precondV2/opamp.op.raw
