.DS_Store
Hardware/precond/~precond.kicad_sch.lck
Hardware/precond/\#auto_saved_files\#
Hardware/precondV2/opamp2.op.raw
Hardware/precondV2/opamp2.raw
Hardware/precondV2/opamp2.op.raw
Hardware/precondV2/opamp.raw
Hardware/precondV2/opamp.op.raw
Firmware/uart_generation/uart_generation.cache/wt/synthesis.wdf
Firmware/uart_generation/uart_generation.cache/wt/webtalk_pa.xml
Firmware/uart_generation/uart_generation.runs/.jobs/vrs_config_72.xml
Firmware/uart_generation/uart_generation.runs/impl_1/.init_design.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.opt_design.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.phys_opt_design.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.place_design.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.route_design.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.vivado.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.write_bitstream.begin.rst
Firmware/uart_generation/uart_generation.runs/impl_1/.write_bitstream.end.rst
Firmware/uart_generation/uart_generation.runs/impl_1/clockInfo.txt
Firmware/uart_generation/uart_generation.runs/impl_1/dfx_runtime.txt
Firmware/uart_generation/uart_generation.runs/impl_1/gen_run.xml
Firmware/uart_generation/uart_generation.runs/impl_1/init_design.pb
Firmware/uart_generation/uart_generation.runs/impl_1/opt_design.pb
Firmware/uart_generation/uart_generation.runs/impl_1/phys_opt_design.pb
Firmware/uart_generation/uart_generation.runs/impl_1/place_design.pb
Firmware/uart_generation/uart_generation.runs/impl_1/project.wdf
Firmware/uart_generation/uart_generation.runs/impl_1/route_design.pb
Firmware/uart_generation/uart_generation.runs/impl_1/rundef.js
Firmware/uart_generation/uart_generation.runs/impl_1/runme.log
Firmware/uart_generation/uart_generation.runs/impl_1/runme.sh
Firmware/uart_generation/uart_generation.runs/impl_1/vivado.jou
Firmware/uart_generation/uart_generation.runs/impl_1/vivado.pb
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator.bit
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator.tcl
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator.vdi
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_bus_skew_routed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_bus_skew_routed.rpx
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_clock_utilization_routed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_control_sets_placed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_drc_opted.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_drc_routed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_io_placed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_methodology_drc_routed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_opt.dcp
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_physopt.dcp
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_placed.dcp
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_power_routed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_power_routed.rpx
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_route_status.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_routed.dcp
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_timing_summary_routed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_timing_summary_routed.rpx
Firmware/uart_generation/uart_generation.runs/impl_1/wave_generator_utilization_placed.rpt
Firmware/uart_generation/uart_generation.runs/impl_1/write_bitstream.pb
Firmware/uart_generation/uart_generation.runs/synth_1/.vivado.begin.rst
Firmware/uart_generation/uart_generation.runs/synth_1/.Xil/wave_generator_propImpl.xdc
Firmware/uart_generation/uart_generation.runs/synth_1/dfx_runtime.txt
Firmware/uart_generation/uart_generation.runs/synth_1/gen_run.xml
Firmware/uart_generation/uart_generation.runs/synth_1/project.wdf
Firmware/uart_generation/uart_generation.runs/synth_1/rundef.js
Firmware/uart_generation/uart_generation.runs/synth_1/runme.log
Firmware/uart_generation/uart_generation.runs/synth_1/runme.sh
Firmware/uart_generation/uart_generation.runs/synth_1/vivado.jou
Firmware/uart_generation/uart_generation.runs/synth_1/vivado.pb
Firmware/uart_generation/uart_generation.runs/synth_1/wave_generator.dcp
Firmware/uart_generation/uart_generation.runs/synth_1/wave_generator.tcl
Firmware/uart_generation/uart_generation.runs/synth_1/wave_generator.vds
Firmware/uart_generation/uart_generation.runs/synth_1/wave_generator_utilization_synth.rpt
Firmware/uart_generation/uart_generation.srcs/utils_1/imports/synth_1/osc.dcp
Firmware/uart_generation/uart_generation.xpr
Hardware/precondV2/opamp.log
Hardware/precondV2/opamp.net
